/* styles.css */

/* Body styles */
body {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 40px; /* increased margins */
  padding: 40px;
  color: #404040
}

/* Title styles */
h1 {
  text-align: left; /* center title */
  font-family: "Helvetica", "Arial", sans-serif; /* monospace font for titles */
  font-size: 45px
  color: #5a5a5a
}

/* Paragraph styles */
p {
  text-align: left; /* left-align paragraphs */
}

/* Links styles */
a {
  text-decoration: none; /* remove underline from links */
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #AAAAAA;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 8px; /* increased button margins */
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
}

.button:hover {
  background-color: #ffc6bc; /* New background color when hovered */
  color: #cd4f39; /* New text color when hovered */
}

/* Abstract section styles */
section {
  margin-bottom: 20px;
}

/* Figures section styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  margin: 5px;
}

.gallery-item img {
  width: 500px;
  height: auto;
  cursor: pointer;
}



